.content-container.home {
    .hero {
        padding-top: 50px;
        text-align: center;

        .text-content {
            padding-bottom: 25px;
            span { color: $green-secondary; }
        }

        .get-started {
            background: $green-secondary;
            color: #fff;
            padding: 12px 18px;
            display: inline-block;
            width: 225px;
            font-weight: 600;
            text-decoration: none;
            font-size: 18px;
        }
    }
}
