@import './vendor/normalize-v801.scss';
@import '~open-color/open-color.scss';
@import './common';


* {
  box-sizing: border-box;
}


// Element Styles
// -------------------------------------------------------------------------------------
body {
  font-family: 'Rubik', sans-serif;
  color: $grey-dark;
}

a, a:link, a:visited {
  color: inherit;
}

button.unstyled {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

section > .title {
  margin-top: 0;
}

// Utility Styles
// -------------------------------------------------------------------------------------
.row {
  lost-utility: clearfix;
}


// Global Site Styles
// -------------------------------------------------------------------------------------
.site-header {
  padding: 25px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;

  .site-title {
    margin: 0;
    width: 60%;
  }

  .sign-in {
    flex-grow: 1;
    text-align: right;

    // i {
    //   margin-right: 5px;
    // }

    // button:hover {
    //   color: $green-secondary;
    // }
  }
}

// =====================================================================================

// Import page styles
// ------------------
@import '../routes/Home/Home.scss';
